.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px;
}

.form__input {
    padding: 5px;
}