.section {
    background: white;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    border-bottom: 2px solid #ddd;
}

.section__legend {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 0;
    padding-bottom: 0;
}

.section__buttons {
    display: grid;
    grid-template-columns: auto auto;
}